* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    box-shadow: 0 1px 5px black;
    border-radius: 6px;
    padding: 12px;
}

.form {
    display: flex;
    flex-flow: column;
    gap: 12px;
}

.form input {
    width: 100%;
}

.form button {
    width: 100%;
}

.form label {
    font-size: 17px;
    font-weight: 500;
    display: block;
}

button {
    font-size: 16px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

input {
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid black;


}